@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
}

#Project{
    background: url(Asset\ 3.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    margin: 30px;
}

/* unutk bg footer */

footer{
    background: url(unri-ffooter.png);
    background-repeat: no-repeat;
    background-size:cover ;
    width: 1980;
}

/* Beerita */
#Berita {
    margin: 30px;
}


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;    
}


/* untuk header */
header{
    position: absolute;
    background-color: #ffffff;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    position: sticky;
}

.group{
    display: flex;
    align-items: center;
}

header ul{
    position: relative;
    display: flex;
    gap: 30px;
}

header ul li
{
    list-style: none;
}

header ul li a{
    position: relative;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 0.2em;
    color: aliceblue;
}

header .search
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    z-index: 10;
    cursor: pointer;
    color: aliceblue;
}

@media (max-width : 767px){
    footer{
        justify-content: center;
        text-align: center;
        
    }
    
}