@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Poppins:wght@200;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 100vw;
    overflow-x: hidden;
}

.btn {
    text-decoration: none;
            border: none;
            padding: 8px 30px;
            font-size: 16px;
            background-color: rgb(34, 58, 114);;
            font-weight: bold;
}

.btn:hover{
    background-color: #102138;
}

.btn:active{
    color: #000;
    background-color: #fff;
}

#akademik-desktop{
    background-image: url(Asset\ 53.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 30px;
    height: 450px;
    border-radius: 4px;
}

#akademik-mobile{
    display: none;
}

/* unutk bg footer */

footer{
    background: url(unri-ffooter.png);
    background-repeat: no-repeat;
    background-size:cover ;
}

.bgkananpp{
    background: url(profill.png);
    background-repeat: no-repeat;
    background-size:cover ;
}


.ftbagian a{
    text-decoration: none;
    color: white;
}

.ftbagianjudulatas::after{
content: "";
display: block;
width: 100%;
height: 3px;
background-color: white;
}

.ftbagianjudulatas a{
    text-decoration: none;
    color: white;
}

.ftbagianjudulatas a :hover{
    color: rgb(205, 44, 44);
}


.ftbagian{
    display: flex;
    align-items: center;
}
.ftbagian::before{
    content: "";
    margin-right:5px;
    height: 10px;
    background-color: white;
    width: 10px;
    display: block;
    border-radius: 50%;
}

.ftbagiankontak a{
    text-decoration: none;
    color: white;
}



.ftbagiankontak{
    color: #ffffff;
}

.bullet{
    display: flex;
    align-items: center;
}
.bullet::before{
    content: "";
    margin-right:5px;
    height: 10px;
    background-color: white;
    width: 10px;
    display: block;
    border-radius: 50%;
}


/* Beerita */
/* #Berita {
    margin: 30px;
} */

/* card  dan responsivenya*/
.cardopsi{
    border:none;
    box-shadow: 5px 5px 10px 3px black;
    border-radius: 0px;
    height: 480px !important;
}

.imgcard{
    height: 280px !important;
}

.btnmargin1{
    margin-top: 40px;
}

.btnmargin1ke2{
    margin-top: 40px;
}

.btnmargin0{
    margin-top: 20px;
}

.btnmargin2{
    margin-top: 60px;
}

.btnmargin3{
    margin-top: 20px;
}

@media  screen and (max-width : 400px)
{
  .imgcard{
    height: 180px !important;
  }

  .cardopsi{
    height: 400px !important;
  }
  
  .judulevent{
    font-size: 12px !important;
  }

  .tanggalberita{
    font-size: 10px !important;
  }

  .btnmargin0{
    margin-top: 30px !important;
  }

  .btnmargin1{
    margin-top: 50px !important;
  }

  .btnmargin1ke2{
    margin-top: 15px !important;
  }

  .btnmargin2{
    margin-top: 35px !important;
  }

  .btnmargin3{
    margin-top: 30px !important;
  }

  .btnmargin4{
    margin-top: 20px !important;
  }

  .tglberitaopsi{
    margin-bottom: 20px !important;
  }
  
}

@media  screen and (max-width : 720px)
{
  .imgcard{
    height: 180px !important;
  }

  .cardopsi{
    height: 380px !important;
  }
  
  .judulevent{
    font-size: 14px;
  }

  .tanggalberita{
    font-size: smaller;
  }

  .btnmargin1{
    margin-top: 20px;
  }

  .btnmargin1ke2{
    margin-top: 20px;
  }

  .btnmargin2{
    margin-top: 40px;
  }
  
}

@media  screen and (max-width : 1381px)
{
  .imgcard{
    height: 230px !important;
  }

  .cardopsi{
    height: 400px !important;
  }
  
  .judulevent{
    font-size: 14px;
  }

  .tanggalberita{
    font-size: smaller;
  }
  
}

@media  screen and (max-width : 1340px)
{
  .imgcard{
    height: 230px !important;
  }

  .cardopsi{
    height: 400px !important;
  }
  
  .judulevent{
    font-size: 14px;
  }

  .tanggalberita{
    font-size: 12px;
  }

  .btnmargin1ke2{
    margin-top: 10px;
  }
  
}

@media  screen and (max-width : 1318px)
{
  .imgcard{
    height: 230px !important;
  }

  .cardopsi{
    height: 400px !important;
  }
  
  .judulevent{
    font-size: 14px;
  }

  .tanggalberita{
    font-size: 12px;
  }

  .btnmargin1{
    margin-top: 10px;
  }
  
}



.judulevent{
    font-weight: bold;
}

/* Header */

.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background-color: #1B3659 ;
    color: white;
}

.top-bar ul{
    list-style: none;
    display: flex;
}

.top-bar li{
    list-style: none;
    display: flex;
    margin: 0px 5px;
}

.top-bar a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 200px;
    font-family: 'Poppins' sans-serif;
    margin-right: 5px;
    padding: 0 5px;
}

.logo-head img{
    width: 200px;
    margin-right: 10px;
}

nav{
    background: white;
    padding: 5px 20px;
    display: flex;
    align-items: center;
}

nav a{
    color: black ;
}

.logo a{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li{
    padding: 15px 10px;
    font-size: 16px; 
}

/* menu hover */

.menu a{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins' sans-serif;
    color: rgb(0, 0, 0);
    font-size: 18px;
    letter-spacing: 0.5px;
}

.menu a:after{
    content: "";
    position: absolute;
    background-color: rgb(29, 7, 81);
    height: 5px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.7s;
}

.dropdown-menu a:hover{
  color: #4283d8;
}
.menu a:hover:after{
    width: 100%;
}
.menu a:hover{
    color: rgb(64, 117, 163);
}

.menu a:active{
    color: rgb(64, 117, 163);
}

.toggle{
    font-size: 30px;
    display: none;
    color: white;
}

.toggle a{
    color: white;
}
/* untuk garisjudul */
.garisjudul{
    width: 100%;
    background-color:#1B3659 ;
    height: 3px;
    display: block;
}

.logo-head.mobile{
    display: none;
    
}

.search-mobile{
    display: none;
}

.search-mobile a{
    color: white;
    font-size: larger;
}

form.search-desktop{
    display: flex;
}


/* unutk profile */
/* Profil */
#Profile{
    flex-wrap: war;
}

/* kemitraan */
.carouselkemitraan{
    display: none;
}

.footerpdd{
    padding-top: 50px;
}

/* sidebar*/

.sidebarmobile a{
    text-decoration: none;
    color: white;
    font-size: large;
}

.sidebarmobile{
    display: none;
}

.sidebarmobile{
    color: white;
    font-size: large;
    width: 250px;
}

/* profile */
.profilemobile{
    display: none;
}

.profiledesktop{
    width: auto;
    align-items: baseline;
}

.bgprofilemb{
    padding: 0;
    margin: 0;
}

/* dropdown */
.sub-menu-1{
    display: none;
}

.teksgarisjudul{
    display: flex;
    align-items: center;
}


.teksgarisjudul::before{
    content: "";
    margin-right:5px;
    height: 15px;
    background-color: #1B3659;
    width: 15px;
    display: block;
    border-radius: 50%;
}

.teksgarisjudul::after{
    content: "";
    margin-left:5px;
    height: 15px;
    background-color: #1B3659;
    width: 15px;
    display: block;
    border-radius: 50%;
}


/* penerimaan mahasiswa */
.penerimaanmahasiswa{
    width: 1200px;
}

.imgpenerimaan{
    height: 484px;
}

.tulisanpenerimaan{
    color: white;
    font-family: Poppins;       
}

.tulisanpenerimaan h1{
    padding-top: 50px;
    padding-left: 100px;
    font-weight: bold;
}

.tulisanpenerimaan p{
    text-align: left;
    padding-left: 100px;
    font-size: 21px;
}



.buttonpenerimaan{
    background-color: rgb(34,  58, 114);
    color: white;
    font-weight: 500px;
    font-family: Poppins;
    padding: 5px 20px;
    margin-left: 100px;
    border: none;
}

@media  screen and (max-width : 1206px){
    .penerimaanmahasiswa{
        width: 1000px;
        height: 400px;
    }

    .imgpenerimaan{
        height: 400px;
    }

    .tulisanpenerimaan h1{
        padding-top: 20px;
        padding-left: 50px;
        font-weight: bold;
        font-size: 27px;
    }
    
    .tulisanpenerimaan p{
        text-align: left;
        padding-left: 50px;
        font-size: 21px;
    }

}

@media  screen and (max-width : 1000px){
    .penerimaanmahasiswa{
        width: 750px;
        height: 350px;

    }

    .buttonpenerimaan{
        margin-left: 40px;
    }

    .imgpenerimaan{
        height: 350px;
    }
    .tulisanpenerimaan h1{
        padding-top: 20px;
        padding-left: 50px;
        font-weight: bold;
        font-size: 22px;
    }

    .penerimaanmahasisswa{
        margin-bottom: 50px;
    }
    
    .tulisanpenerimaan p{
        text-align: left;
        padding-left: 50px;
        font-size: 17px;
    }

}

@media  screen and (max-width : 767px){
    .penerimaanmahasiswa{
        margin: 5px;
        height: 250px;
        width: 80%;
    }

    .penerimaanmahasisswa{
        margin-bottom: 570px;
    }

    .imgpenerimaan{
        height: 339.8px;
        width: 613.11px;
    }

    .tulisanpenerimaan h1{
        padding-top: 20px;
        padding-left: 50px;
        font-weight: bold;
        font-size: 28px;
    }
    .tulisanpenerimaan p{
        text-align: left;
        padding-left: 50px;
        font-size: 24px;
    }

    .buttonpenerimaan{
        margin-left: 30%;
    }


}

/* @media  screen and (max-width : 767px){
    .penerimaanmahasiswa{
        margin: 5px;
        height: 250px;
    }

    .penerimaanmahasisswa{
        margin-bottom: 150px;
    }

    .imgpenerimaan{
        height: 339.8px;
        width: 300px;
    }

} */


@media  screen and (max-width : 702px){
    .penerimaanmahasiswa{
        width: 600px;           
        margin: 20px;
    }

    .imgpenerimaan{
        height: 400px;
        width: 700px;   
    }

    .penerimaanmahasisswa{
        margin-bottom: 500px;
    }

}

@media  screen and (max-width : 600px){
    .penerimaanmahasiswa{
        width: 500px;           
        margin: 20px;
    }

    .tulisanpenerimaan h1{
        font-size: 20px;
    }

    .imgpenerimaan{
        height: 300px;
        width: 500px;   
    }

}

@media  screen and (max-width : 493px){
    .penerimaanmahasiswa{
        width: 400px;           
        margin: 20px;
    }

    .tulisanpenerimaan h1{
    padding-top: 25px;
    padding-left: 50px;
    font-weight: bold;
    }

    .tulisanpenerimaan p{
    text-align: left;
    padding-left: 50px;
    font-size: 21px;
}

    .imgpenerimaan{
        height: 300px;
        width: 400px;   
    }

    .buttonpenerimaan{
        margin-left: 70px;
    }

}

@media  screen and (max-width : 400px){
    .penerimaanmahasiswa{
        width: 300px;           
        margin: 20px;
    }

    .tulisanpenerimaan h1{
    padding-top: 25px;
    padding-left: 50px;
    font-weight: bold;
    font-size: 17px;
    margin-left: -10px;
    }

    .penerimaanmahasisswa{
    margin-bottom: 390px;
    }

    .tulisanpenerimaan p{
    text-align: left;
    padding-left: 50px;
    font-size: 14px;
    margin-left: -10px;
}
 
    .imgpenerimaan{
        height: 260px;
        width: 360px;   
    }

    .buttonpenerimaan{
        margin-left: 20px;
    }

}



/* responsive */

@media  screen and (max-width : 1320px){
    nav{
        display: flex;
        position: relative;
        padding: 15px 20px;
        align-items: center;
        justify-content: space-between;
        background-color: #1B3659;
        
    }
    .menu{
        margin-top: 15px;
        display: none;
    }

    .toggle{
        color: white;
        position: absolute;
        display: flex;
    }
    .logo-head{
        display: block;
    }

    .logo-head.desktop {
        display: none;
    }

    .logo-head.mobile {
        display: block;
        position: relative;
        left: 30px;
    }

    .logo-head.mobile img {
        width: 50px;
    }

    .top-bar{
        display: none;
    }

    form.search-desktop{
        display: none;
    }

    .search-mobile{
        display: flex;
    }

    .search-mobile a{
        color: white;
    }
    .sidebarmobile{
        position: fixed;
        overflow: auto;
        width: 80%;
        height: 100%;
        z-index: 100;
        left: -100vw;
        transition: all .5s ease-in-out;
        display: block;
    }

    .logodanclose{
        display: flex;
    }

    .toggle .close-btn {
        display: none;
    }

    .sidenav a, .dropdown1-btn {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: white;
        display: block;
        border: none;
        background: none;
        width:100%;
        text-align: left;
        cursor: pointer;
        outline: none;
      }

      .sidenav a:hover, .dropdown1-btn:hover {
        color: #f1f1f1;
      }
      .dropdown1-container {
        display: none;
        background-color: #1B3659;
        color: white;
        padding-left: 8px;
      }

}

@media  screen and (max-width : 720px){
    .logounrifoot{
        margin: 0 auto !important;
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .logounrifoot{
        width: 200px;
    }

    .judulfooter::after{
        content: "";
        display: block;
        width: 80%;
        height: 3px;
        background-color: white;
        }

        .footbg{
            width: 100%;
            height: auto;
        }

        .kemitraandesktop{
            display: none;
        }

        #carouselExampleAutoplaying{
            display: block;
        }
        
        .footerpdd{
            padding-top: 0;
        }

        .footbg{
            padding-bottom: 20px;
        }
        
        .profiledesktop{
            display: none;
        }

        .profilemobile{
            display: flex;
            padding: 0px;
            width: 370px;
            text-align: center;
        }

}
    

/* navbar media */
@media  screen and (min-width : 993px) {
    .dropdown .dropdown-menu{
        display: none;
    }
    .dropdown:hover > .dropdown-menu 
    {
        margin-top: 15px;
        display: block !important;
       
    }
    .dropstart:hover > .dropdown-menu{
        display: block !important;
    }

    .dropstart:hover > .dropdown-menu{
        position: absolute;
        bottom: -10px;
        right: 100%;
    }

    
}

@media  screen and (max-width : 768px){
    #akademik-desktop{
        display: none;
    }

    #akademik-mobile{
        display: block;
        background-image: url(akdemikmobile.png);
        background-repeat: no-repeat;
        background-size:auto;
    }
}
